<!--
<h1>Novo Poder</h1>
<%= form_with model: @poder do |p| %>
  <p>
    <%= p.label :nome %> <br />
    <%= p.text_field :nome  %>
  </p>
  <p>
    <%= p.label :tipo %> <br />
    <%= p.text_field :tipo %>
  </p>
    <%= link_to "Voltar", poderes_path, class: "btn btn-secondary" %>
    <%= p.submit "Criar", class: "btn btn-success" %>
<% end %>
-->