<p id="notice"><%= notice %> </p>

<h1> Poderes de <%= @personagem.nome %> </h1>

<% @personagem.poderes.each do |poder| %>


  <ul style="list-style-type:none;">
    <li><b>ID do Poder:</b> <%= poder.id %></li>
  </ul>
  <ul style="list-style-type:none;">
    <li><b>Nome do Poder:</b> <%= poder.nome %></li>
  </ul>
  <ul style="list-style-type:none;">
    <li><b>Tipo de Poder:</b> <%= poder.tipo %></li>
  </ul>
<% end %>

<%= link_to 'Voltar', poderes_path, class: "btn btn-secondary" %>
<%= link_to 'Editar Poder', poder_path(@personagem), class: "btn btn-warning" %>
